* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.game {
  background-color: rgba(255, 255, 255, 0.35);
  display: flex;
  border-radius: 1rem;
  box-shadow: 0px 0px 11px 1px #363636;
  width: 62%;
  height: 62%;
  position: relative;
}
.tools {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player1,
.player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  flex: 50%;
}
.name1,
.name2 {
  font-size: 4rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 3rem;
}
.score1,
.score2 {
  font-size: 4rem;
  margin-bottom: 18rem;
}
.current-info1,
.current-info2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9b282c;
  font-size: 3rem;
  padding: 3rem 5rem;
  border-radius: 1rem;
}
.active {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
}
.new-game,
.roll,
.hold {
  position: relative;
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: #444;
  box-shadow: 0rem 0rem 1rem 0rem #363636;
  margin: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
}
.dice-img {
  width: 11rem;
  box-shadow: 0rem 0rem 1rem 0rem #363636;
}
.new-game:active,
.roll:active,
.hold:active {
  transform: translateY(4px);
}
.hidden {
  display: none;
}
